<!DOCTYPE html>
{% extends 'maplegrocery/base.html' %}
{% load static %}
{% block title %}Category Details{% endblock %}
{% block content %}
    <link href="{% static "css/alignment.css" %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Category Details</h1>
    <p><a href="{% url 'maplegrocery:category_new' %}" class="btn btn-primary btn-lg active" role="button">Add Category</a></p>
    {% for category in categorys %}
        <div class="align">
            <h3>{{ category.name }}</h3>
            <h5>{{ category.created_date }}</h5>
            <h5>{{ category.updated_date }}</h5>
            <p><a href="{% url 'maplegrocery:category_edit' pk=category.pk %}"
                  class="btn btn-warning">Edit</a>
                <a href="{% url 'maplegrocery:category_delete' pk=category.pk %}"
                   onclick="return confirm('Are you sure you want to delete?')"
                   class="btn btn-danger">Delete</a></p>
        </div>
    {% endfor %}
{% endblock %}