{% extends "maplegrocery/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
<link href="{% static "css/base.css" %}" rel="stylesheet">
{% block content %}
    <body id="background"></body>
    <div class="page-container">
        <h2 class="top-menu">Welcome To Maple Grocery</h2>
    </div>
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "maplegrocery:product_list" %}">All</a>
            </li>
            {% for category in categorys %}
                <li {% if category.name == c.name %}class="selected"
                    {% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Products
        {% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "images/no_preview.jpg" %}{% endif %}">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br>
                ${{ product.price }}
            </div>
        {% endfor %}
        <div class="content container">
        </div>
    </div>
{% endblock %}