<!DOCTYPE html>
{% extends 'maplegrocery/base.html' %}
{% block content %}
    <table class="table table-striped table-bordered table-hover">
        <div class="row">
            <h1 style="padding-left: -40px; font-weight: bold; margin-top:10px">Order Item Details</h1>
            <a href="{% url 'maplegrocery:orderitem_new' %}" class="btn btn-primary btn-lg active ml-2" role="button">Add Order Item</a>
        </div>
        <div>
             <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr class="bg-info">
                    <th>Order</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Paid</th>
                    <th colspan="3">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for orderitem in orderitems %}
                        <tr class="text-white bg-dark">
                            <td>{{ orderitem.order}}</td>
                            <td>{{ orderitem.product}}</td>
                            <td>{{ orderitem.price}}</td>
                            <td>{{ orderitem.quantity}}</td>
                            <td>{{ orderitem.created_date }}</td>
                            <td>{{ orderitem.updated_date }}</td>
                            <td><a href="{% url 'maplegrocery:orderitem_edit' pk=orderitem.pk %}"
                                   class="btn btn-warning">Edit</a></td>
                            <td><a href="{% url 'maplegrocery:orderitem_delete' pk=orderitem.pk %}"
                                   onclick="return confirm('Are you sure you want to delete?')"
                                   class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}