{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Maple Grocery{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    <body>
    <nav>
        <li><a href="{% url 'maplegrocery:home' %}">Home</a></li>
    </nav>
        <div id="header">
            <a href="/" class="logo">Maple Grocery</a>
            <img src= "{% static "images/home.jpg" %}" width="1200" height="400"/>
        </div>
        <div id="subheader">
            <div class="cart">
                Your cart is empty.
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>